/* calendar area is hidden while exercises loading */
.loading{
  visibility:hidden;
}

.ready{
  visibility: visible;
}



/* Name of the month and year area */
#calendar-header{
    font-weight: bold;
    font-size: 400%;
    text-align: center;
    white-space: nowrap;
}

/*for android  when in "horizontal mode"*/
@media (max-width: 800px) {
   #calendar-header{
       font-size: 150% !important;
   }
    }

/*prev month navigation icon*/
#prev-month span{
    float:right;
}

/*prev month navigation icon*/
#next-month span{
    float:left;
}


/*divs that contain rows of calendar - first row for weekday names others for days*/
#month div{
    clear: both; /*so that this row contains only floating elements it consists of */
    margin: 0; /* no space rows between  rows. MAYBE WE NEED SOME SPACE?*/
}

/*special style for the days in the calendar that are from prev or next month*/
.other-month{
    background-color: lightgray;
}

/*  for android in basic vertical mode squares are too small, so in this case we keep them responsive rectangles */
@media (max-width: 480px) {
   #prev-month span{ float:left;}
   #next-month span{float:right;}
}

#chosen_exercise_error_msn, #exercise_submit_error_msn, .time-update-error-msn{
    color:red;
    font-size:150%;
}

.modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }
